[Unit]
Description=ESP32 Wifi

Before=network-online.target
After=local-fs.target network-pre.target apparmor.service systemd-sysctl.service
Before=network.target shutdown.target network-online.target


[Service]
Type=simple
Restart=always
#Restart=on-failure
#EnvironmentFile=-/etc/default/esp32-wifi
ExecStart=/usr/local/bin/decode-esp /dev/ttyS1 tun0
# User=shairport-sync
# Group=shairport-sync
# PIDFile=/run/esp32-wifi.pid

[Install]
WantedBy=network.target
